/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */



html, body, a, .main-container {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  text-decoration: none;
}

.ember-view {
  background-image: none;
  width: 100%;
}

ul {
  list-style-type: none;
  list-style: none;
}

.main-side-bar {
  background-color: black;
  flex-direction: column;
  padding: 24px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  height: 2070px;
}

.side-bar-header {
  margin-bottom: 20px;
}

.side-bar-list, .side-bar-list-inner > a {
  background-image: none;
}

.side-link > a {
  color: rgba(255, 255, 255, 0.6);
}

.home-dot {
  height: 20px;
  width: 20px;
  background-color: magenta;
  border-radius: 50%;
  display: inline-block;
}

.home-dot:hover {
  cursor: pointer;
  background-color: #3399ff;
}

.library-dot {
  height: 20px;
  width: 20px;
  background-color: #ff1a1a;
  border-radius: 50%;
  display: inline-block;
}

.library-dot:hover {
  cursor: pointer;
  background-color: #3399ff;
}

.home-dot-container {
  margin-right: 10px;
}

.side-link > a:hover {
  @apply text-white;
}

.side-link > a:active {
  @apply text-green-light;
}

.content-spacing {
  align-items: center;
  background-image: none;
  justify-content: center;
}

.content-container {
  background-image: linear-gradient(rgb(57, 80, 96), rgb(6, 8, 10) 100%);
  width: 100%;
  color: rgba(255, 255, 255, .6);
  font-size: 12px;
  height: 2070px;
}

.collections-container > div > a {
  color: rgba(255, 255, 255, .6);
}

.collections-container > div > a:hover {
  @apply text-white;
}

.home-container {

}

.playlist-button {
  background-color: #1db954;
}

.home-header-text {
  color: white;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -.005em;
  line-height: 44px;
  text-transform: none;
  margin: auto;
  margin: 20px;
}

.recently-played-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recently-played-track {
  text-align: center;
  padding: 50px;
}

.recently-played-track-name {
  color: white;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}

.cover-art {
  width: 200px;
  position: relative;
  padding-bottom: 10px;
}

.cover-art img:hover {
  -webkit-filter: brightness(30%);
}

.home-container {
  height: 2000px;
}

.album-link-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
}

.album-cover-art {
  max-width: 300px;
}

.album-container {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  height: 2000px;
}

.album-info-container {
  margin-top: 20px;
}

.album-info-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.album-title {
  display: flex;
  justify-content: center;
  max-width: 300px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -.005em;
  line-height: 44px;
  text-transform: none;
}

.album-info {
  max-width: 300px;
}

.album-artist {
  text-align: center;
}

.album-info-clump {
  display: flex;
  justify-content: center;
}

.album-button {
  display: flex;
  justify-content: center;
  min-width: 130px;
  padding: 20px;
  border: 0;
  border-radius: 500px;
  color: white;
  font-size: 11px;
  display: inline-block;
  font-size: 11;
  font-weight: 200px;
  letter-spacing: .16em;
  line-height: 1.6px;
  text-transform: uppercase;
  text-align: center;
}

.album-button-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
