<div class="main-container">
  <div class="main-side-bar flex flex-wrap w-48">

    <nav class="side-bar-list">
      <div class="side-bar-list-inner">
        <div class="side-bar-header grey-white">Kate's Spotify</div>
        <p class="h-10 side-link">
          {{#link-to "home"}}
            <div class="home-dot-container">
              <span class="home-dot"></span>
            </div>
            <div>
              Home
            </div>
          {{/link-to}}
        </p>
        <p class="h-10 side-link">
          {{#link-to "collection"}}
            <div class="home-dot-container">
              <span class="library-dot"></span>
            </div>
            <div>
              Your Library
            </div>
          {{/link-to}}
        </p>
      </div>
    </nav>
  </div>

  <div class="content-container">
    <div class="content-spacing mx-auto pt-6 flex">
      <nav class="collections-container flex">
        <div class="flex-1 px-4 py-2 m-2">{{#link-to "collection.playlists"}}Playlists{{/link-to}}</div>
        <div class="flex-2 px-4 py-2 m-2">{{#link-to "collection.songs"}}Songs{{/link-to}}</div>
        <div class="flex-3 px-4 py-2 m-2">{{#link-to "collection.albums"}}Albums{{/link-to}}</div>
        <div class="flex-4 px-4 py-2 m-2">{{#link-to "collection.artists"}}Artists{{/link-to}}</div>
        <div class="flex-5 px-4 py-2 m-2">{{#link-to "collection.podcasts"}}Podcasts{{/link-to}}</div>
      </nav>

      <button class="playlist-button hover:bg-blue-dark text-white font-bold py-2 px-4 rounded-full">
        New Playlist
      </button>
      <div>
        {{now-playing-bar}}
      </div>
    </div>
    {{outlet}}
  </div>
</div>
