<div class="home-container">
  <div class="home-header-text">
    New Releases
  </div>
  <div class="home-content">
    <div class="recently-played-grid">
      {{#each model as |album|}}
        <div>
          {{#link-to "album" album.id}}
            <div class="album-link-wrapper">
              <div class="cover-art">
                <img src={{album.images.1.url}}>
              </div>
              <div class="recently-played-track-name">
                <div class="song-name">
                  {{album.name}}
                </div>
                <div class="artist-name">
                  {{album.artists.0.name}}
                </div>
              </div>
            </div>
          {{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

