<div class="home-container">
  <div class="home-header-text">
    New Releases
  </div>
  <div class="home-content">
    <div class="recently-played-grid">
      {{#each model.albums as |album|}}
        <div class="recently-played-track">
          <div class="artist-name">
            {{album.name}}
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>

